# build directory
BUILD/
RPMS/
SOURCES/
SPECS/
disk1/

*.pyc

_os
_arch
_distribution
.rpmmacros
bootstrap.py

# ignore mk
rocks-version.mk
rocks-version-common.mk
roll-*
python.mk

# ignore Rules files
Rules*.mk
Rolls.mk
spark.spec*

# binaries files
src/*/*gz
src/*/*zip
src/*/*whl
src/bazel/*rpm
src/cudnn/*deb

*iso
